
                <div class="col-md-10 col-sm-9 col-xs-12 dashboard_right dasboardminheight">       
                	<div class="row row_wrap">
                    	
                    	<div class="col-md-12 col-sm-12 col-xs-12 homeblg">
                        
                        	<ul>
                            	<li><a href="#/admin/dashboard"><span><img src="images/homeicon_03.png" alt="" class="img-responsive"></span> Home</a></li>
                                <li>Dashboard</li>
                            </ul>
                        </div><!--homeblg-->
                    </div><!--row_wrap-->
                    
                    
                    <div class="row row_wrap">
                    
                    	<div class="col-md-12 col-sm-12 col-xs-12 tasksblg">
                        
                        	<div class="row row_wrap">
                            <a href="#/admin/Users">
                            	<div class="col-md-4 col-sm-6 col-xs-6 taskbg">
                                
                                	<div class="row row_wrap tasksblog">
                                    
                                    	<div class="col-md-7 col-sm-6 col-xs-6 taskblog_left">
                                        
                                        	<h1>{{userscount}}</h1>
                                            <p>Users</p>
                                        </div><!--taskblog_left-->
                                        
                                        <div class="col-md-5 col-sm-6 col-xs-6 taskblog_right" align="center">
                                        	<img src="images/users.png" alt="" class="img-responsive">
                                        </div><!--taskblog_right-->
                                        
                                    </div><!--row_wrap-->
                                    
                                    
                                </div>
                                </a><!--tasksbg-->
                                
                                <a href="#/admin/AllVisitor">
                                	<div class="col-md-4 col-sm-6 col-xs-6 taskbg">
                                
                                	<div class="row row_wrap tasksblog">
                                    
                                    	<div class="col-md-7 col-sm-6 col-xs-6 taskblog_left">
                                        
                                        	<h1>{{notificationcount}}</h1>
                                            <p>Visitors</p>
                                        </div><!--taskblog_left-->
                                        
                                        <div class="col-md-5 col-sm-6 col-xs-6 taskblog_right" align="center">
                                        	<img src="images/shop.png" alt="" class="img-responsive">
                                        </div><!--taskblog_right-->
                                        
                                    </div><!--row_wrap-->
                                   
                                    
                                </div><!--tasksblog-->
                                </a>
                                
                                   <!-- <a href="#/admin/Messages">
                                	<div class="col-md-4 col-sm-6 col-xs-6 taskbg">
                                
                                	<div class="row row_wrap tasksblog">
                                    
                                    	<div class="col-md-7 col-sm-6 col-xs-6 taskblog_left">
                                        
                                        	<h1>{{msgcount}}</h1>
                                            <p>Messages</p>
                                        </div><!--taskblog_left
                                        
                                        <div class="col-md-5 col-sm-6 col-xs-6 taskblog_right" align="center">
                                        	<img src="images/comments.png" alt="" class="img-responsive">
                                        </div><!--taskblog_right
                                        
                                    </div><!--row_wrap
                                   
                                    
                                </div><!--tasksblog
                                </a> -->
                                
                                	
                        
                        
                            	
                                
                            </div><!--row_wrap-->
                            
                            
                        </div><!--tasksblg-->                        
                       
                    
                    
                </div><!--row_wrap-->
                
                
                
           
                
    	
</div><!--dashboardbg-->





