
<div class="col-md-10 col-sm-9 col-xs-12 dashboard_right">       
                  <div class="row row_wrap">
                    
                      <div class="col-md-12 col-sm-12 col-xs-12 homeblg">
                        
                          <ul>
                              <li><a href="dashboard.html"><span><img src="images/homeicon_03.png" alt="" class="img-responsive"></span> Home</a></li>
                                <li><a href="userinfomain.html">User Info</a></li>
                            </ul>
                        </div><!--homeblg-->
                    </div><!--row_wrap-->
                    
               <div class="row row_wrap marginblg1">
                  <div class="col-md-12 col-sm-12 col-xs-12 dashboardform">
                      <div class="row row_wrap background">
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">User Name </label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext" ng-model="user.username" >
                                
                              </div>
                            </div>
                            
                           
                            
                            <div class="form-group">
                              <label for="inputEmail3" class="col-sm-12 control-label">Email</label>
                              <div class="col-sm-12">
                                <input type="email" class="form-control dashboardemail" id="inputEmail3"  ng-model="user.email"  >
                              </div>
                            </div>
                            
                            
                             

                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Location</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  ng-model="user.location
                                "  >
                                
                              </div>
                            </div>
                            
                             
                           
                            <div class="form-group">
                              <div class=" col-sm-12">
                                <button  class="btn btn-default dashboardeditbtn" value="Edit" ng-click="updateuser()"> Update </button>
                                
                              </div>
                            </div>                           
                          
                            </div>                          
                            
                            
                            
                          </form>
                        </div><!--row_wrap-->
                    </div><!--dashboardform-->
               </div><!--row_wrap-->
               
                
              </div><!--dashboard_right-->
            
              
            
            </div><!--row_wrap-->
            