
<div class="backgrondbg">
<div class="container-fluid full_wrap" >
  <div class="container site_container">
      <div class="row row_wrap">
          <div class="col-md-12 col-sm-12 col-xs-12 logo_blg" align="center">
              <a href="#"><img src="images/adminlogodark1.png" alt="" class="img-responsive"></a>
            </div><!--logo_blg-->
        </div><!--row_wrap-->
          <div class="row row_wrap">
              <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12 loginblg">
                  <p>Please sign in to your Account </p>
                    <input type="email" class="form-control usertxt" ng-model="text.email" id="exampleInputEmail1" placeholder="Username">
                    <input type="password" class="form-control passwrdtxt" ng-model="text.password" id="exampleInputEmail1" placeholder="Password">
                    <button type="submit" class="btn btn-default signinbtn" ng-click="loginData()">Sign In</button>
                </div><!--loginblg-->
          </div><!--row_wrap-->
    </div><!--site_container-->
</div><!--full_wrap-->

</div>





