                     
<div class="col-md-10 col-sm-9 col-xs-12 dashboard_right">       
                	<div class="row row_wrap">
                    
                    	<div class="col-md-12 col-sm-12 col-xs-12 homeblg">
                        
                        	<ul>
                            	<li><a href="#"><span><img src="images/homeicon_03.png" alt="" class="img-responsive"></span> Home</a></li>
                                <li><a href="#">User Info</a></li>
                            </ul>
                        </div><!--homeblg-->
                    </div><!--row_wrap-->
                    
               <div class="row row_wrap marginblg1">
               		<div class="col-md-12 col-sm-12 col-xs-12 dashboardform">
                    	<div class="row row_wrap background">
                        	<form class="form-horizontal">
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">User Name</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Shop Name">
                                
                              </div>
                            </div>
                            
                           
                            
                            <div class="form-group">
                              <label for="inputEmail3" class="col-sm-12 control-label">Email</label>
                              <div class="col-sm-12">
                                <input type="email" class="form-control dashboardemail" id="inputEmail3" placeholder="Email">
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-12 control-label">Password</label>
                              <div class="col-sm-12">
                                <input type="password" class="form-control dashboardpassword" id="inputPassword3" placeholder="Password">
                              </div>
                            </div>
                            
                            
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Mobile</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="123 456 7890">
                                
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Ref Mobile</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="123 456 7890">
                                
                              </div>
                            </div>
                            
                             
                            
                             <div class="form-group">
                              <label  class="col-sm-12 control-label">Created Date</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Created Date">
                                
                              </div>
                            </div>
                            
                             <div class="form-group">
                              <label  class="col-sm-12 control-label">Email Verification</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Email Verification">
                                
                              </div>
                            </div>
                            
                             <div class="form-group">
                              <label  class="col-sm-12 control-label">User profile image</label>
                              <div class="col-sm-12">
                                <input type="file">
                                
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Date of birth</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Date of birth">
                                
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Address</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Address">
                                
                              </div>
                            </div>
                            
                            
                            
                             <div class="form-group">
                              <label  class="col-sm-12 control-label">Address</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Address">
                                
                              </div>
                            </div>
                            
                             <div class="form-group">
                              <label  class="col-sm-12 control-label">City</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="City">
                                
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">State</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="State">
                                
                              </div>
                            </div>
                            
                             
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Country</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Country">
                                
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Zip Code</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  placeholder="Zip Code">
                                
                              </div>
                            </div>
                            
                            
                            <div class="form-group">
                              <div class=" col-sm-12">
                                <button type="submit" class="btn btn-default dashboardsubmitbtn">Update Profile</button>
                                
                              </div>
                            </div>                           
                          
                            </div>                          
                            
                            
                            
                          </form>
                        </div><!--row_wrap-->
                    </div><!--dashboardform-->
               </div><!--row_wrap-->
               
                
            	</div><!--dashboard_right-->
            
            	
            
            </div><!--row_wrap-->
            