
<div class="col-md-10 col-sm-9 col-xs-12 dashboard_right">       
                	<div class="row row_wrap">
                    
                    	<div class="col-md-12 col-sm-12 col-xs-12 homeblg">
                        
                        	<ul>
                            	<li><a href="#/admin/dashboard"><span><img src="images/homeicon_03.png" alt="" class="img-responsive"></span> Home</a></li>
                                <li>Visitor Info</li>
                            </ul>
                        </div><!--homeblg-->
                    </div><!--row_wrap-->
                    
               <div class="row row_wrap marginblg1">
               		<div class="col-md-12 col-sm-12 col-xs-12 dashboardform">
                    	<div class="row row_wrap background">
                        	<form class="form-horizontal">
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Visitor Name</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext" value={{visitor.name}}  readonly>
                                
                              </div>
                            </div>
                            
                           
                            
                            <div class="form-group">
                              <label for="inputEmail3" class="col-sm-12 control-label"> Company Name  </label>
                              <div class="col-sm-12">
                                <input type="email" class="form-control dashboardemail" id="inputEmail3"  value={{visitor.company_name}}  readonly>
                              </div>
                            </div>
                            
                                                        
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Location</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  value={{visitor.location}}  readonly>
                                
                              </div>
                            </div>

                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Licence Plate</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  value={{visitor.licence_plate}}  readonly>
                                
                              </div>
                            </div>

                             <div class="form-group">
                              <label  class="col-sm-12 control-label">Checkin Date</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  value={{visitor.checkindate}}  readonly>
                                
                              </div>
                            </div>

                              <div class="form-group">
                              <label  class="col-sm-12 control-label">Checkin Time</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  value={{visitor.checkintime}}  readonly>
                                
                              </div>
                            </div>

                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Checkout Date</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  value={{visitor.checkoutdate}} readonly>
                                
                              </div>
                            </div>
                           


                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Checkout Time</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control dashboardtext"  value={{visitor.checkouttime}} readonly>
                                
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Visitor Image </label>
                              <div class="col-sm-12">
                                <img src={{visitor.visitor_image}} alt="" >
                              </div>
                            </div>
                            <div class="form-group">
                              <label  class="col-sm-12 control-label">Licence Image</label>
                              <div class="col-sm-12">
                                <img src={{visitor.file}} alt="" >
                              </div>
                            </div>
                             
                            
                            
                                                     
                          
                            </div>                          
                            
                            
                            
                          </form>
                        </div><!--row_wrap-->
                    </div><!--dashboardform-->
               </div><!--row_wrap-->
               
                
            	</div><!--dashboard_right-->
            
            	
            
            </div><!--row_wrap-->
            